<div class="first-tier" id="{{_id}}">
    <div class="comment-card">
        <a href="/profile/{{commentOwner}}"><img class="comment-icon" src="/uploads/{{commentOwnerDP}}"></a>
        <a class="user-handle" href="/profile/{{commentOwner}}">{{commentOwner}}</a>	
    </div>
    
    <div class="comment-desc">
        <span> {{content}} </span>
    </div>

    <div class="comment-action">
        <span class="upvote"><i class="fa-solid fa-chevron-up fa-lg"></i></span>
        <span class="likes"> {{likes}} </span>
        <span class="downvote"><i class="fa-solid fa-chevron-down fa-lg"></i></span>
    </div>

    {{#each replies}}
        {{> reply}}
    {{/each}}
</div>
