<div class="profile_information">
        <div class="col_left">
            <img id="displayphoto" src="/uploads/{{profilephoto}}">
        </div>

        <div class="col_right">
            <div class="interactables">
                <div class="info_username">
                    <p> {{username}} </p>
                </div>

                <!-- <a href="/settings" id="editprofile"> Edit Profile </a> -->

                <input type="button" value="Follow" id="followbutton"/> <!-- hidden in profile.css -->
            </div>

            <div class="statistics">
                <p> {{posts}} Posts </p>
                <p> {{followers}} Followers </p>
                <p> {{following}} Following </p>
            </div>

            <div class="biography">
                <p> {{bio}} </p>
            </div>
        </div>
    </div>
