<div class="post-container" id="{{_id}}">
    <div class="post-header">

        <a href="/profile/{{poster}}"><img class="user-icon" src="/uploads/{{posterDP}}"></a>

        <div class="header-body">
            <div class="user-info">
                <a href="/profile/{{poster}}" class="username">{{poster}}</a>
            </div>
        </div>

        {{#ifeq poster username}}
            <button id="deletepost"> DELETE </button>
        {{/ifeq}}

    </div>
   
    <div class="description-card">
        <div class="post-description">
            <span> {{caption}} </span>
        </div>
    </div>

    <div class="post-content">
        <img class="post-body" src="/uploads/{{content}}">
    </div>

    <div class="post-footer">
        <div class="actions">
            <span class="upvote" style = "color:{{blue isUpvoted}}"> <i class="fa-solid fa-chevron-up fa-2x"></i> </span>
            <span class="likes"> {{likes}} </span>
            <span class="downvote" style = "color:{{red isDownvoted}}"> <i class="fa-solid fa-chevron-down fa-2x"></i> </span>
        </div>
    </div>

    <div class="comments-section">
        {{#each comments}}
            {{> comment}}
        {{/each}}
    </div>

    <div class="comment-container">
        <form>
            <textarea name="add-comment" id="add-comment" placeholder="Add Comment"></textarea>
            <div class="btn">
                <input class="btn" type="button" id="addcomment" value="Comment">
                <input class="btn" type="button" id="cancelcomment" value="Cancel">
            </div>
        </form>
    </div>
</div>

