<!-- TODO: FIX PROFILE PICTURE! -->

<link rel="stylesheet" type="text/css" href="/css/profile.css"/>
<link rel="stylesheet" type="text/css" href="/css/posts.css"/>
<script defer src="/js/posts.js"></script>
<script src="https://kit.fontawesome.com/e8f282ef28.js" crossorigin="anonymous"></script>

{{> nav}}

<div class="profile_information">
    <div class="col_left">
        <img id="displayphoto" src="/uploads/placeholder.jpg">
    </div>

    <div class="col_right">
        <div class="interactables">
            <div class="info_username">
                <p> {{username}} </p>
            </div>

            <a href="/settings" id="editprofile"> Edit Profile </a>
            <input type="button" value="Follow" id="followbutton"/> <!-- hidden in profile.css -->
           <!-- <input type="button" value="Block" id="blockbutton"/>  hidden in profile.css -->
        </div>

        <div class="statistics">
            <p> {{post_count}} Posts </p>
            <p> {{follower_count}} Followers </p>
            <p> {{following_count}} Following </p>
        </div>

        <div class="biography">
            <p> {{user_biography}} </p>
        </div>
    </div>
</div>

<div id="posts">
    {{#if posts}}
        {{#each posts}}
            {{> post}}
        {{/each}}
    {{else}}
        <h1 style="text-align: center"> NO POSTS FOUND! </h1>
    {{/if}}
</div>